/*
 Charting class for Mootools using Canvas
 
 MIT-style license. Copyright 2010 Matt V. Murphy
 Credits to Greg Houston (http://demos.greghoustondesign.com/piechart/)
*/
.chartMap {
	display : none;
}
.chartImage {
	position : absolute;
	z-index : 2;
	top : 0px;
	left : 0px;
	border : none;
}
.chartTooltip {
	position : absolute;
	z-index : 3;
	top : -5000px;
	left : -5000px;
	padding : 4px 6px;
	border : 1px solid #777;
	min-width : 100px;
	background-color : #fafafa;
	-moz-box-shadow : 1px 1px 2px #555;
	-webkit-box-shadow : 1px 1px 2px #555;
	box-shadow : 1px 1px 2px #555;
}
